version: '3.8'

services:
  db:
    image: postgres:16
    container_name: codeit-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: bugloss
      POSTGRES_DB: codeit-test
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build: .
    container_name: codeit-express
    restart: always
    depends_on:
      - db
    environment:
      NODE_ENV: development
      PORT: 3000
      DATABASE_URL: postgresql://postgres:bugloss@db:5432/codeit-test?schema=public
      UPLOAD_DIR: /app/uploads
    volumes:
      - ./uploads:/app/uploads
    ports:
      - '3000:3000'

volumes:
  db-data:
